<header class="post-header" style="text-align: center; margin-bottom: 24px; margin-top: 12px;">
  {%- if page.banner -%}
  <div class="post-banner-container" style="margin-bottom: 16px;">
    <img src="{{ page.banner | relative_url }}" alt="{{ page.title | escape }}" class="post-banner-img no-lightbox">
  </div>
  {%- endif -%}
  
  <h1 class="post-title p-name" itemprop="name headline" style="text-transform: lowercase; font-weight: 700; margin-top: 16px; margin-bottom: 8px;">{{ heading | default: page.title | escape }}</h1>
  
  {%- assign subtitle = page.subtitle | default: page.subheading -%}
  {%- if subtitle -%}
    <h2 class="post-subtitle" style="font-size: 1.05rem; opacity: 0.85; line-height: 1.6; margin: 0 auto; max-width: 600px; font-weight: normal;">{{ subtitle | markdownify | replace: '<p>', '' | replace: '</p>', '' }}</h2>
  {%- endif -%}

  {%- if page.tags.size > 0 -%}
  <div class="post-tags" style="margin-top: 12px; display: flex; justify-content: center; gap: 8px; flex-wrap: wrap; padding-right: 0 !important;">
    {%- for tag in page.tags -%}
    <a class="post-tag" style="margin: 0 !important;" href="{{ '/tags.html' | relative_url }}#{{tag}}">#{{tag}}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}
</header>
